<h2 class="pb-2">Welcome to the app</h2>
<%= link_to "Create New Company", new_company_path, class: "btn btn-primary" %>
<%= link_to "Companies list", companies_path, class: "btn btn-outline-primary", role: "button" %>
